{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bones in the Basement
                    <small>published in 1997 by Robert Blakely</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Bones in the Basement</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="header">
                <h2>Bones in the Basement</h2>
            </div>

                <div class="panel-body">
                    <p>
                        Judith M.
                        Harrington discusses this historical event.  An editorial review by the Library Journal
                        states:  In 1989, workers restoring the Medical College of Georgia in Augusta made a grisly
                        discovery: over 9000 human bones/ remains of bodies autopsied by medical students and
                        faculty, were buried in the building's basement.  Blakely (director, Ctr. for Applied Research
                        in Anthropology, Georgia State Univ.)  began coordinating a study of the basement's contents
                        by a multidisciplinary team of archaeologists, anthropologists, historians, anatomists,
                        and ethnographers. They determined that more than 75 percent of the bones were
                        African American, silent testimony to the marginalization of Augusta's slave and free black
                        communities. Human dissection was illegal in Georgia until 1887, most of the cadavers
                        were certainly procured by grave robbers.
                    </p>
                </div>
             </div>
        </div>


</div>
{% endblock %}