{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Plan Your Visit
                    <small>to the Old Medical College</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Plan Your Visit</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <img class="col-md-5" src="{% static 'images/events/Wedding Ceremony at The Old MCG.jpg' %}">
            <div class="col-lg-7">
            <div class="header">
                <h2>About the Old Medical College</h2>
            </div>
                <div class="panel-body">
                    <p>
                    The Old Medical College of Georgia, a National Historic Landmark, is located at 598 Telfair Street.
                    The structure is easy to view from the sidewalk and is within the boundaries of the Augusta Downtown Historic District.
                    It is open for self-guided tours by appointment only, Monday-Friday, 9:00am to 12:00 noon. Call 706-854-0924. Free.
                    The Old Medical College has been documented by the National Park Service's Historic American Buildings Survey.
                    </p>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
            <div class="header">
                <h2>Rental Information</h2>
            </div>

            <div class="">
                <p>
                    <p>Effective July 1, 2012</p>
                    <ul>
                        <li>You may choose your own caterer.</li>
                    <li>Rental fee includes tables and chairs (to seat up to 240), basic set-up, built-in dance floor, well-equipped kitchen, parking in our lot and security.</li>
                    <li>Friday & Saturday Option – For an additional $500 with your Saturday Reservation, you may
                    have 8 consecutive hours on Friday for decoration time and/or to host your rehearsal dinner here as well.</li>
                    <li>Rentals are for eight consecutive hours on the day of the event. Additional hours may be purchased for $75 an hour. Rate for Midnight to 1:00 a.m. is $150.</li>
                    <li>Up to 200 guests may be seated in the Walnut Room, depending on the layout.</li>
                    <li>Up to 72 guests may be seated in the Museum Room, depending on the layout.</li>
                    <li>200 guests may be seated together in the Walnut Room with buffet set in Museum Room.</li>
                   <li> Damage/Cleaning Deposit of $500 will hold your reservation.  This deposit is fully refundable after event, subject to the terms and agreements set forth in your contract.</li>
                    <li><b>Rental Fees:</b>
                        <ul>
                            <li>Second Floor</li>
                            <li>FRI: $1,000</li>
                            <li> SAT: $1,200</li>
                            <li> SUN: $800</li>
                        </ul>
                     </li>
                   <li> MON-THU: $600</li>
                    <li>Friday & Saturday (8 hours each): $1,700</li>
                    <li>1st Floor Hallway Ceremony: Fri& Sat: $800</li>
                   <li> Damage & Cleaning Deposit: Mon-Sun: $500
                    A discount of 15% is offered to all Non-Profit Organizations, GLMS & Foundation Members. The discount does not apply to the Damage Deposit. For more information and pictures please visit our website at: www.louisvillerentalfacility.org View our Facebook page at www.fboldmedicalschool.com</li>
                    <li>You may also call (502) 736-6366 or email mary.hess@glms.org to view the space.</li>
                    </ul>
                </p>
            </div>

        </div>

        <img class="col-md-5" src="{% static 'images/events/YPA Anniversary party 2013_1 at The Old MCG.jpg' %}">
    </div>
</div>
{% endblock %}