{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Founding Members
                    <small>Of the Old Medical College</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Our Founding Members</li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default">
        {% if error %}
           <div class="panel-body">{{ error }}</div>
        {% else %}
            {% for founder in founders %}
                <div class="panel-body"><h4><a href = "/{{ founder.slug }}">{{ founder.name }}</a>
                    <div style="clear:both;"><small>Lived from {{ founder.birth_year }} - {{ founder.death_year }}</small></div>
                    <div style="clear:both;"><small>Position: {{ founder.position }}</small></div>
                    </h4>
                </div>
                <hr style="margin: 5px">
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}