{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ghost Stories
                    <small>Of the Old Medical College</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Ghost Stories</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <h2>Ghosts of The Old Georgia Medical Building</h2>
                <p>Though most believe sightings of restless souls are thought to be merely extensions of the legend, there are those that claim the original Telfair Street building is still haunted by the souls whose rest was disturbed on orders of the college. A few have even claimed to see Grandison himself in the Cedar Grove Cemetery late at night, under the light of the full moon, digging into graves as he did in life.</p>
                <p>Occasionally, the random story will pop up about the college's current accommodations hosting the restless souls, but those in the know look toward Telfair Street for the truth. Local tour guides have taken photos containing numerous apparitions. Those that have ventured to the old site often refer to it as the most active building in all of Augusta.</p>
                <p>The grave of Grandison Harris is hidden somewhere in the Cedar Grove Cemetery, its location unknown to prevent angry relatives taking revenge. The cemetery itself, however, located across the street from Magnolia Cemetery, with its entrance on Walker Street. Headstones there date back to 1835.</p>
                <p>The old house on Telfair Street still stands, and is a stop along the "<b>Augusta Ghost Walks</b>" tour. They have taken pictures of floating ghostly orbs on the old campus at night. It is currently used for parties and by the occasional dance held by the local liberal arts high school, though most of the students have no idea that they are essentially dancing on a mass grave. Perhaps that is why Ghosts still haunt the old building.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'images/ghostspic.jpg' %}" alt="">
            </div>
            <div class="col-lg-12">
                <h2>Ghost Stories Surrounding the Old Medical College</h2>
                <p>The Old Medical College of Georgia was in need of costly renovations by the late 1980s, The project was undertaken by the Medical College of Georgia Foundation in 1988.  During the restoration, it was found that the old building had long hidden a dark secret. The bones of over 400 people were found buried in its basement!</p>
                <p>The National Park Service reports that the bones provide proof that students at the college were using stolen cadavers to perform dissections, an illegal activity. The body parts were buried to keep the nefarious grave robbing a secret.</p>
                <p>Such activities gave rise to ghost stories surrounding the old structure, where it is said the restless spirits of the dissection subjects roam the basement and rooms of the Old Medical College at night. Some even say the "Resurrection Man" himself still walks there.</p>
                <p>The grave robbing was carried out in many cases by a man remembered in Augusta today as the "Resurrection Man."</p>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}